<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>YOU GOT THE D(elete)!</h1>
    <p>
      You did something wrong and made somebody angry. That somebody deleted your account.<br>
    </p>
    <p>
      Sorry not sorry.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>