<div class="container">
<%= link_to "Back to all movies", movies_path %>
</div>
<div class="container submit-page">
  <div>
    <h2>Submit a movie!</h2>
    <div class="container submit-form">
      <%= render 'form' %>
    </div>
  </div>
</div>