<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th> 
    <th>Admin?</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><% if user.admin %></td>
        <td>Yes</td>
        <% else %>
        <td>No</td>
        <% end %>
    </tr>
  <% end %>
</table>